<h1>Bienvenido a <%= title %></h1>
<p>El portal donde podra crear sus propios juegos!</p>
<p><a href="/quizes">Comience a jugar</a></p>
<p>&nbsp;</p>
<form method="get" action="/quizes">
    <p><input type="text" name="search" placeholder="Buscar quizes"> <input type="submit" value="Buscar"></p>
</form>